* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pointer {
  pointer-events: none;
}

@keyframes pulseBorder {
  0% {
    border: dashed 3px red;
    color: red;
  }
  20% {
    border: dashed 3px rebeccapurple;
    color: rebeccapurple;
  }
  40% {
    border: dashed 3px salmon;
    color: salmon;
  }
  60% {
    border: dashed 3px orange;
    color: orange;
  }
  80% {
    border: dashed 3px green;
    color: green;
  }
  100% {
    border: dashed 3px blue;
    color: blue;
  }
}
.game_button {
    width: 100px;
    height: 60px;
    background-color: #0001;
    color: rebeccapurple;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.button {
  animation-name: pulseBorder;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  animation-duration: 1s;
  text-align: center;
  font-size: 20px;
  padding: 100px;
  cursor: pointer;
  color: green;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: #000;
}
.buttonHover {
  padding: 0px;
}
.container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
#restart {
    display: none;
}
.points {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.points a {
  font-size: 30px;
  text-decoration: none;
  color: rebeccapurple;
}
.points h1 {
  display: flex;
  gap: 10px;
}
#lastPoint {
    display: none;
}
